@import '../base/variables';

.modal-content {
  .modal-header {
    .modal-title {
      width: 99%;
      text-align: center;
      font-size: 3rem;
    }
    .close {
      padding: 0;
      margin: 0;
    }
  }
  .modal-body {
    .modal__pages {
      margin-top: 2rem;
      font-size: 1.5rem;
    }
    .modal__explain {
      font-size: 1.2rem;
    }
  }
  .btn__container {
    display: flex;
    justify-content: center;
    .btn-modal {
      background-color: map-get($map: $colores, $key: 'primary-color');
      color: map-get($map: $colores, $key: 'blanco');
      padding: 1rem 2rem;
      margin: 2rem;
    }
  }
  
}