/* INICIO @media only screen and (max-width: 480px) */
@media only screen and (max-width: 480px) {
  .header__container {
    display: grid;
    grid-template-columns: 8fr 6fr;
    .header__user {
      grid-template-columns: repeat(2, 1fr);
      .user__name {
        margin: 0;
        justify-content: flex-end;
        p {
          display: none;
        }
      }
    }
  }
  .box__container {
    grid-template-columns: 1fr;
    .box__card {
      margin: 1rem;
    }
  }
  .filter__container {
    width: 65%;
    margin: 0 auto;
    .filter__input {
      font-size: 1rem;
      margin-top: 1rem;
    }
  }
  .account__container {
    width: 90%;
    .account__title h2 {
      text-align: center;
      font-size: 3rem;
      font-weight: normal;
    }
    .account__boxes {
      grid-template-columns: 1fr;
    }
  }
  .grafico__ingreso,
  .grafico__egreso {
    flex-direction: column;
    .grafico__circulo {
      margin: 0;
    }
  }
  .grafico__ingreso {
    margin-bottom: 4rem;
  }
  .informe__container {
    grid-template-columns: 1fr;
    margin-bottom: 8rem;
    gap: 2rem;
    .informe__ingresos,
    .informe__egresos {
      .informe__boxes {
        grid-template-columns: 1fr;
      }
    }
  }
  .table__container__cuenta,
  .table__container__categoria {
    tbody {
      tr {
        .buttons__table {
          flex-direction: column;
        }
      }
    }
  }
  .login__header {
    font-size: 2rem;
    line-height: 1.5;
  }
  .login__grid {
    grid-template-columns: 1fr;
    width: 90%;
    .login__grafico {
      display: none;
    }
    .login__container {
      width: 100%;
      padding: 0;
    }
  }
}
/* INICIO @media only screen and (max-width: 768px) */
@media only screen and (max-width: 768px) {
  body {
    padding-bottom: 1rem;
    .container {
      .header__container {
        .header__nav {
          position: fixed;
          bottom: 6rem;
          right: 0;
          left: 0;
          .div__label__menu {
            display: block;
            position: fixed;
            bottom: 0;
            width: 100%;
            height: 5rem;
            background-color: map-get($map: $colores, $key: 'primary-color');
            z-index: 10;
            .footer__redes--label {
              display: block;
              width: 15rem;
              ul {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                width: 100%;
                height: 5rem;
              }
            }
          }
          label {
            display: block;
            position: fixed;
            bottom: 0px;
            right: 5px;
          }
          .header__ul {
            li {
              display: block;
              margin: 0.5rem 0;
              a {
                background-color: map-get($map: $colores, $key: 'blue');
                color: map-get($map: $colores, $key: 'blanco');
              }
            }
          }
        }
      }
    }
    .graficos__container {
      flex-direction: column;
      margin-bottom: 7rem;
    }
    .footer__container {
      display: none;
    }
    .boton__mas {
      width: 45px;
      height: 45px;
      font-size: 24px;
      bottom: 20px;
      right: 42%;
    }
  }
}
