/* INICIO @media only screen and (max-width: 480px) */
@media only screen and (max-width: 480px) {
  .header__container {
    display: grid;
    grid-template-columns: 8fr 6fr;
    .header__user {
      grid-template-columns: repeat(2, 1fr);
      .user__name {
        margin: 0;
        justify-content: flex-end;
        p {
          display: none;
        }
      }
    }
  }
  .box__container {
    grid-template-columns: 1fr;
    .box__card {
      margin: 1rem;
    }
  }
  .filter__container {
    width: 65%;
    margin: 0 auto;
    .filter__input {
      font-size: 1rem;
      margin-top: 1rem;
    }
  }
  .account__container {
    width: 90%;
    .account__title h2 {
      text-align: center;
      font-size: 3rem;
      font-weight: normal;
    }
    .account__boxes {
      grid-template-columns: 1fr;
    }
  }
  .grafico__ingreso,
  .grafico__egreso {
    flex-direction: column;
    .grafico__circulo {
      margin: 0;
    }
  }
  .grafico__ingreso {
    margin-bottom: 4rem;
  }
  .informe__container {
    grid-template-columns: 1fr;
    margin-bottom: 8rem;
    gap: 2rem;
    .informe__ingresos,
    .informe__egresos {
      .informe__boxes {
        grid-template-columns: 1fr;
      }
    }
  }

  .tables__container {
    display: flex;
    flex-direction: column;
    width: 95%;
  }

  .table__container__cuenta,
  .table__container__categoria {
    tbody {
      tr {
        .buttons__table {
          flex-direction: column;
        }
      }
    }
  }
  .login__header {
    font-size: 2rem;
    line-height: 1.5;
  }
  .login__grid {
    grid-template-columns: 1fr;
    width: 90%;
    .login__grafico {
      display: none;
    }
    .login__container {
      width: 100%;
      padding: 0;
    }
  }
}
/* INICIO @media only screen and (max-width: 768px) */
@media only screen and (max-width: 768px) {
  body {
    padding-bottom: 1rem;
    header {
      .header__container {
        .header__nav {
          position: fixed;
          bottom: 6rem;
          right: 0;
          left: 0;
          .div__label__menu {
            display: block;
            position: fixed;
            bottom: 0;
            width: 100%;
            height: 5rem;
            background-color: map-get($map: $colores, $key: 'primary-color');
            z-index: 10;
            .footer__redes--label {
              display: block;
              width: 15rem;
              ul {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                width: 100%;
                height: 5rem;
              }
            }
            label {
              display: block;
              position: fixed;
              bottom: 0px;
              right: 5px;
            }
          }
          .header__ul {
            display: none;
          }
          input {
            display: none;
            &:checked {
              ~ .header__ul {
                display: block;
                max-width: 100%;
                margin: auto;
                li {
                  display: flex;
                  margin: 0.5rem 0;
                  a {
                    background-color: map-get($map: $colores, $key: 'blue');
                    color: map-get($map: $colores, $key: 'blanco');
                  }
                }
              }
            }
          }
        }
      }
    }
    .graficos__container {
      flex-direction: column;
      margin-bottom: 7rem;
      div {
        .grafico__ingreso, .grafico__egreso {
          justify-content: center;
        }
      }
    }
    .footer__container {
      display: none;
    }
    .boton__mas {
      width: 45px;
      height: 45px;
      font-size: 24px;
      bottom: 20px;
      right: 42%;
    }

    .filtro-nueva__container{
      grid-template-columns: 1fr;
      margin-bottom: 1rem;
      .filtro__container {
        width: 40%;
      }
      .nueva__transaccion {
        display: none;
      }
    }
    .boton__nueva--categoria, .boton__nueva--cuenta{
      width: 90%;
      a {
        padding: 1rem;
        font-size: 1.8rem;
      }
    }
    .tables__container {
      display: flex;
      flex-direction: column;
      width: 95%;
      .table__container__categoria, .table__container__cuenta{
        margin-bottom: 5rem;
        tbody {
          tr {
            td {
              padding: 0.5rem 0;
              text-align: center;
            }
          }
        }
      }
    }
    .table__container {
      tbody {
        tr {
          text-align: center;
          .buttons__table {
            justify-content: center;
          }
        }
      }
    }
  }
}
/* FIN @media only screen and (max-width: 768px) */

/* INICIO @media only screen and (min-width: 481px) and (max-width: 768px) */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .header__container {
    display: grid;
    grid-template-columns: 8fr 4fr;
    .header__title {
      a {
        justify-content: flex-start;
      }
    }
  }
  .table__container {
    tbody{
      tr {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
  .box__container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    .box__card:nth-child(2) {
    grid-area: 2 / 1 / 3 / 2;
    }

    .box__card:nth-child(3) {
      grid-area: 2 / 2 / 3 / 3;
    }

    .box__card:nth-child(4) {
      grid-area: 1 / 2 / 2 / 3;
    }
    .box__card {
      width: 90%;
      margin: 1rem;
      margin-bottom: 2rem;
    }
  }
  .boton__mas {
    right: 45% !important;
  }
  .informe__container {
    grid-template-columns: 1fr;
    gap: 2rem;
    margin-bottom: 8rem;
  }
}

/* FIN @media only screen and (min-width: 481px) and (max-width: 768px) */

/* OTRAS MEDIAS QUERIES */
@media only screen and (max-width: 1024px) {
  .table__container {
    min-width: max-content;
    margin: auto;
    width: 90%;
    thead {
      display: none;
    }
    tbody {
      display: block;
      width: 100%;
      margin-top: 2rem;
      tr {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
  .table__pags {
    margin-top: 1rem;
    margin-bottom: 7rem;
  }
}

@media only screen and (min-width: 1000px) {
  .header__user {
    input {
      &:checked {
        ~ .user__ul {
          width: 30rem !important;
        }
      }
    }
  }
}

@media only screen and (min-width: 481px) and (max-width: 720px) {
  .account__boxes {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 721px) and (max-width: 768px) {
  .account__boxes {
    grid-template-columns: repeat(3, 2fr);
  }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .grafico__ingreso,
  .grafico__egreso {
    justify-content: center;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .table__container {
    margin-top: 2rem;
    tbody {
      tr {
        grid-template-columns: repeat(3, 1fr);
        td {
          text-align: center;
        }
        .buttons__table {
            justify-content: center;
          }
      }
    }
  }
}